.header {
  padding: 50px 145px 0;
  background-image: url("media-files/Bg.svg");
  background-position: right;
  background-size: cover;
  height: 848px;
  background-color: #E5E5E5;
  &__icon {
    width: 53px;
    height: 32px;
  }

  &__upper-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textandbutton{
    width: 100%;
    min-width: 685px;
    margin: 80px 0;
  }
  &__textnobutton {
    h1 {
      font-weight: 900;
      font-size: 64px;
      color: #FFFFFF;
    }

    p {
      font-size: 24px;
      color: #FFFFFF;
      line-height: 150%;
    }
  }

  &__nav {
    &__list {
      &__item {
        border-color: #56CCF2;
      }
    }
    &__div-hire-us {
      white-space: nowrap;
      padding: 5px;
      border-bottom: 4px solid #56CCF2;
      transition: border-bottom-color 0.5s;
      &:hover {
        border-bottom: 4px solid #FCC304;
        border-radius: 2px;
      }
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    background-image: url("media-files/photos/conversation.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vw;
    justify-content: flex-end;
    position: relative;
    border-radius: 10px;
    &-butt {
      display: flex;
      height: 64px;
      width: 164px;
      background-color: #FCC304;
      position: absolute;
      border-radius: 54px;
      top: calc(50% - 28px);
      left: -82px;
      justify-content: center;
      align-items: center;
      &-left , &-right {
        color: white;
        font-size: 35px;
        padding: 10px 30.5px;
        font-weight: 900;
        text-decoration: none;
        border-radius: 150px;
        transition: color 0.5s, box-shadow 0.5s;

        &:hover{
          box-shadow: inset 1px 0 121px 0 rgba(0,0,0,0.28);;
          color: #56CCF2;
          cursor: pointer;
        }
      }

    }

    &-text {
      position: absolute;
      left: 80px;
      bottom: 40px;
      h4 {
        font-weight: 800;
        font-size: 12.6px;
        text-transform: uppercase;
        color: #56CCF2;
        line-height: 1px;
      }
      p {
        font-weight: 900;
        font-size: 19.6px;
        color: white;
        line-height: 140%;
      }
    }
  }

  &__lower-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    bottom: 28px;
    &__nav {
      color: #253757;

      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &__item {
        transform: rotate(90deg);
        padding: 85px 0;
        transition: color 0.5s;
        &:hover {
          color: white;
        }

        .link {
          color: inherit;
        }
      }
    }
  }
}
