@media screen and (max-width: 1049px) {
  .section1 {
    padding: 150px 50px 100px;
  }
  .nav {
    &__list {
      padding: 0 25px;
    }
  }
  .header__lower-container {
    transform: scale(0.8);
  }

  .section3 {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__text {
      width: 100%;
    }
    &__cards {
      margin: 0;
    }
  }

  .section4 {
    &__container {
      &-text {
        width: 50%;
      }
    }
  }

  .footer__container__form {
    margin-right: 60px;
  }

  .footer__container__contact-us {
    width: 50%;
  }
}

@media screen and (max-width: 929px) {
  .header {
    padding: 0 100px;
  }

  .section5 {
    &__container {
      &-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-text {
        width: 100%;
      }
    }
    &__card {
      &:nth-child(2) {
        margin: 50px 0;
      }
    }
  }

  .section4 {
    &__container {
      &-text {
        width: 100%;
      }
    }
  }

  .section2 {
    padding: 100px;
    &__photo-cards {
      flex-direction: column;
      align-items: center;
      &__item {
        align-items: center;
        text-align: center;
        width: 50%;
        &:nth-child(2) {
          margin: 50px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    z-index: 10;
  }
  .nav {
    display: none;
    &__div-hire-us {
      display: none;
    }
  }
  .header__nav__list__hire-us {
    display: none;
  }

  .header__icon {
    margin-top: 20px;
  }
  .header__textnobutton {
    width: 100%;
    h1 {
      font-size: 300%;
    }
    p {
      font-size: 120%;
    }
  }
  .header__textandbutton {
    min-width: 450px;
    position: relative;
    top: 70px;
  }

  .header__lower-container {
    transform: scale(0.7);
    position: relative;
    top: 50px;
  }

  .header__slider-text {
    left: 40px;
    bottom: 10px;
    h4 {
      font-size: 80%;
    }
    p {
      font-size: 80%;
    }
  }

  .section1 {
    &__text {
      &-paragraph {
        font-size: 120%;
      }
    }
  }
  .footer {
    h2 {
      font-size: 150%;
    }
    &__linked-text {
      font-size: 130%;
    }
  }
  .section6 {
    &__container {
      &__text {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 707px) {
  .header__lower-container {
    transform: scale(0.6);
    top: -50px;
    right: 40px;
  }
  .header {
    background-position: left;
    padding: 0 50px 0 100px;
    &__textandbutton {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 250px;

    }
  }

  .section3 {
    &__cards {
      transform: scale(0.8);
    }
  }
  .section6 {
    &__container {
      &__text {
        h2 {
          font-size: 200%;
        }
        p {
          font-size: 115%;
        }
      }
    }
  }
  .section4 {
    &__container {
      margin: 0 80px;
    }
  }
  .section5 {
    padding: 100px 80px 0;
  }
}

@media screen and (max-width: 599px) {
  .header {
    padding: 0 50px 0 100px;
    &__textandbutton {
      min-width: 320px;
      .button {
        transform: scale(0.8);
      }
      h1 {
        font-size: 250%;
      }
      p {
        font-size: 100%;
      }
    }
    &__lower-container {
      top: -15px;
      left: -30px;
    }

    &__slider {
      height: 100%;
      &-text {
        left: 20px;
        bottom: 0;
      }
    }
  }
  .section1 {
    &__text {
      &-paragraph {
        font-size: 100%;
      }
    }
  }

  h2 {
    font-size: 140%;
  }

  .footer__container{
    &__middle-container {
      flex-direction: column;
      align-items: center;
    }
    &__contact-us {
      width: 100%;
      margin-top: 100px;
    }
    &__form {
      width: 100%;
    }
  }

  .section3 {
    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-n1-2 {
        position: relative;
        padding-top: 0;
        top: -150px;
      }
    }
  }
  .section5 {
    &__container-cards {
      transform: scale(0.85);
      position: relative;
      top: 0;
    }
  }
  .section6 {
    &__container {
      &__left-side {
        .oval {
          &:nth-child(6) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  .carousel__container {
    transform: scaleX(0.7);
  }
}

@media screen and (max-width: 479px) {
  .header {
    &__textandbutton {
      min-width: 100px;
      margin-right: 0;
      h1 {
        font-size: 190%;
      }
      p {
        font-size: 80%;
      }
    }

    &__lower-container {
      top: 50px;
    }
  }
}
