.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__list {
    display: flex;
    list-style: none;
    padding: 0 85px;

    &__item {
      padding: 5px;
      margin: 0 25px;
      border-bottom: 4px solid #fff;
      transition: border-bottom-color 0.5s;

      &:hover {
        border-color: #FCC304;
        cursor: pointer;
        border-radius: 2px;
      }
    }
  }
}
