.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 250px 50px 100px;
  &__heading-img {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 21px;
    width: 21px;
    padding-right: 16px;
  }

  &__text {
    max-width: 742px;
    &-heading {
      font-weight: 800;
      font-size: 16px;
      color: #56CCF2;
      text-transform: uppercase;
    }

    &-paragraph {
      font-weight: 300;
      font-size: 24px;
      margin: 0;
      color: #253757;
      font-style: normal;
      line-height: 150%;
    }
  }
}
