.section6 {
  background-color: #E5E5E5;
  padding: 250px 30px 160px;

  &__container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    p {
      line-height: 150%;
      font-size: 24px;
      font-weight: 400;
      margin: 55px 0;
    }
    h2 {
      font-size: 48px;
    }

    &__text {
      width: 50%;
      position: relative;
      z-index: 2;
    }
    &__left-side {
      .oval:nth-child(1){
        @include oval;
        height: 143.04px;
        width:  56.54px;
        border: 5px solid #03D542;
        left: 239px;
        top: 150px;
      }
      .oval:nth-child(2){
        @include oval;
        height: 93.54px;
        width: 36.98px;
        border: 5px solid #BC04FC;
        left: 101px;
        top: 350px;
      }
      .oval:nth-child(3){
        @include oval;
        height: 85.61px;
        width: 33.84px;
        border: 3px solid #F25656;
        left: 203px;
        top: -100px;
      }
      .oval:nth-child(4){
        @include oval;
        height: 67.36px;
        width: 26.63px;
        border: 5px solid #56CCF2;
        left: 52px;
        top: 220px;
      }

      .oval:nth-child(5){
        @include oval;
        height: 45.28px;
        width: 17.9px;
        border: 3px solid #FCC304;
        left: 416px;
        top: -100px;
      }

      .oval:nth-child(6){
        @include oval;
        height: 45.28px;
        width: 17.9px;
        border: 5px solid #FCC304;
        left: 421px;
        top: 300px;
      }
    }

    &__right-side {
      .oval:nth-child(1){
        @include oval;
        height: 143.04px;
        width:  56.54px;
        border: 5px solid #03D542;
        right: 185px;
        bottom: 160px;
      }

      .oval:nth-child(2){
        @include oval;
        height: 153.61px;
        width: 60.72px;
        border: 5px solid #56CCF2;
        right: 143px;
        bottom: -150px;
      }

      .oval:nth-child(3){
        @include oval;
        height: 86.41px;
        width: 34.16px;
        border: 3px solid #FCC304;
        right: 37px;
        bottom: 100px;
      }

      .oval:nth-child(4){
        @include oval;
        height: 45.28px;
        width: 17.9px;
        border: 3px solid #BC04FC;
        right: 532px;
        bottom: -150px;

      }

      .oval:nth-child(5){
        @include oval;
        height: 85.61px;
        width: 33.84px;
        border: 3px solid #F25656;
        right: 284px;
        bottom: -30px;
      }

      .oval:nth-child(6){
        @include oval;
        height: 53.69px;
        width: 21.22px;
        border: 5px solid #BC04FC;
        bottom: 350px;
        right: 81px;
      }
    }
  }
}
