body {
  margin: 0;
  font-family: Muli, sans-serif;
}

h3 {
  font-weight: 800;
  font-size: 16px;
  color: #56CCF2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5, h6 {
  margin: 0;
  line-height: 150%;
  font-size: 12.6px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  margin: 0;
}

.heading-img, .paragraph-img {
  display: flex;
}
.heading-img h3, .paragraph-img h3 {
  white-space: nowrap;
}
.heading-img .img, .paragraph-img .img {
  padding-right: 16px;
}

.button {
  letter-spacing: 1px;
  width: 226px;
  height: 56px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 64px;
  font-size: 16px;
  color: #253757;
  cursor: pointer;
  transition: background-color 1s, border-color 0.5s, color 0.5s;
}
.button-section6, .button-footer {
  background-color: #2F80ED;
  color: white;
}
.button-section6:hover, .button-footer:hover {
  color: black;
}
.button-footer {
  margin-top: 105px;
}
.button:hover {
  background-color: aliceblue;
  border: 3px solid lightgray;
}
.button:active {
  color: #56CCF2;
}

.link {
  text-decoration: none;
  color: white;
}

.card {
  height: 256px;
  width: 240px;
  box-shadow: 16px 16px 16px lightgray;
  background-color: #FFFFFF;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card:hover {
  background-color: ghostwhite;
}
.card p {
  font-size: 12.6px;
  line-height: 150%;
  color: #253757;
}
.card h4 {
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.nav__list {
  display: flex;
  list-style: none;
  padding: 0 85px;
}
.nav__list__item {
  padding: 5px;
  margin: 0 25px;
  border-bottom: 4px solid #fff;
  transition: border-bottom-color 0.5s;
}
.nav__list__item:hover {
  border-color: #FCC304;
  cursor: pointer;
  border-radius: 2px;
}

.hamburger-menu {
  display: none;
}

.menu {
  z-index: 10;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: cornflowerblue;
  transition-duration: 0.5s;
}
.menu__btn span::before {
  content: "";
  top: -8px;
}
.menu__btn span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 170px;
  height: 40%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #334563;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  border: 2px solid lightgray;
  border-radius: 10px;
  z-index: 9;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.5s;
  color: snow;
}
.menu__item:hover {
  background-color: #CFD8DC;
  color: #56CCF2;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.header {
  padding: 50px 145px 0;
  background-image: url("media-files/Bg.svg");
  background-position: right;
  background-size: cover;
  height: 848px;
  background-color: #E5E5E5;
}
.header__icon {
  width: 53px;
  height: 32px;
}
.header__upper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__textandbutton {
  width: 100%;
  min-width: 685px;
  margin: 80px 0;
}
.header__textnobutton h1 {
  font-weight: 900;
  font-size: 64px;
  color: #FFFFFF;
}
.header__textnobutton p {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 150%;
}
.header__nav__list__item {
  border-color: #56CCF2;
}
.header__nav__div-hire-us {
  white-space: nowrap;
  padding: 5px;
  border-bottom: 4px solid #56CCF2;
  transition: border-bottom-color 0.5s;
}
.header__nav__div-hire-us:hover {
  border-bottom: 4px solid #FCC304;
  border-radius: 2px;
}
.header__slider {
  display: flex;
  flex-direction: column;
  background-image: url("media-files/photos/conversation.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vw;
  justify-content: flex-end;
  position: relative;
  border-radius: 10px;
}
.header__slider-butt {
  display: flex;
  height: 64px;
  width: 164px;
  background-color: #FCC304;
  position: absolute;
  border-radius: 54px;
  top: calc(50% - 28px);
  left: -82px;
  justify-content: center;
  align-items: center;
}
.header__slider-butt-left, .header__slider-butt-right {
  color: white;
  font-size: 35px;
  padding: 10px 30.5px;
  font-weight: 900;
  text-decoration: none;
  border-radius: 150px;
  transition: color 0.5s, box-shadow 0.5s;
}
.header__slider-butt-left:hover, .header__slider-butt-right:hover {
  box-shadow: inset 1px 0 121px 0 rgba(0, 0, 0, 0.28);
  color: #56CCF2;
  cursor: pointer;
}
.header__slider-text {
  position: absolute;
  left: 80px;
  bottom: 40px;
}
.header__slider-text h4 {
  font-weight: 800;
  font-size: 12.6px;
  text-transform: uppercase;
  color: #56CCF2;
  line-height: 1px;
}
.header__slider-text p {
  font-weight: 900;
  font-size: 19.6px;
  color: white;
  line-height: 140%;
}
.header__lower-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  bottom: 28px;
}
.header__lower-container__nav {
  color: #253757;
}
.header__lower-container__nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__lower-container__nav__item {
  transform: rotate(90deg);
  padding: 85px 0;
  transition: color 0.5s;
}
.header__lower-container__nav__item:hover {
  color: white;
}
.header__lower-container__nav__item .link {
  color: inherit;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  padding: 250px 50px 100px;
}
.section1__heading-img {
  display: flex;
  align-items: center;
}
.section1__img {
  height: 21px;
  width: 21px;
  padding-right: 16px;
}
.section1__text {
  max-width: 742px;
}
.section1__text-heading {
  font-weight: 800;
  font-size: 16px;
  color: #56CCF2;
  text-transform: uppercase;
}
.section1__text-paragraph {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #253757;
  font-style: normal;
  line-height: 150%;
}

.section2 {
  position: relative;
  padding: 160px;
  display: flex;
  justify-content: center;
}
.section2__photo-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2__photo-cards__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 64px;
}
.section2__photo-cards__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 180px;
}
.section2__photo-cards__item:nth-child(2) {
  padding: 50px;
}
.section2__photo-cards__item p {
  font-size: 16px;
  color: #334563;
  line-height: 150%;
}
.section2 h2 {
  position: absolute;
  top: 0;
  line-height: 0;
  margin: 0 auto;
  text-align: center;
}

.section3 {
  padding: 0 64px;
}
.section3__container {
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 80px 80px 0;
}
.section3__text {
  width: calc(50% - 94px);
  min-width: 200px;
}
.section3__text p {
  margin: 0;
  padding-top: 60px;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
}
.section3__cards {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 80px;
  object-position: center;
  padding-top: 70px;
}
.section3__cards-n1-2 {
  padding-top: 120px;
}
.section3__cards-n2, .section3__cards-n4 {
  position: relative;
  top: -120px;
  left: -15px;
  transition: transform 2s;
}
.section3__cards-n1-2:hover .section3__cards-n4, .section3__cards-n1-2:hover .section3__cards-n2, .section3__cards-n3-4:hover .section3__cards-n4, .section3__cards-n3-4:hover .section3__cards-n2 {
  transform: translateY(220px);
}
.section3__cards-n1 h4 {
  color: #56CCF2;
}
.section3__cards-n1 .section3__cards-roundimg {
  background-color: #56CCF2;
}
.section3__cards-roundimg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.1;
  position: relative;
  bottom: -30px;
}
.section3__cards-n2 h4 {
  color: #FCC304;
}
.section3__cards-n2 .section3__cards-roundimg {
  background-color: #FCC304;
}
.section3__cards-n3 h4 {
  color: red;
}
.section3__cards-n3 .section3__cards-roundimg {
  background-color: red;
}
.section3__cards-n4 h4 {
  color: green;
}
.section3__cards-n4 .section3__cards-roundimg {
  background-color: green;
}

.section4 {
  background-image: url("media-files/section4/Bg.jpg");
  background-size: cover;
  background-position: right;
}
.section4__container {
  margin: 0 160px;
}
.section4__container-text {
  width: 35%;
  min-width: 250px;
  height: 976px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section4__container-text h3 {
  color: white;
}
.section4__container-text__all-paragraphs {
  margin-top: 50px;
}
.section4__container-text__all-paragraphs p {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.section4__container-text__all-paragraphs img {
  margin-right: 32px;
  height: 64px;
  width: 64px;
  transition: transform 2s;
}
.section4__container-text__all-paragraphs img:hover {
  transform: rotate(360deg);
}
.section4__container-text__paragraph-img {
  display: flex;
  align-items: center;
}

.section5 {
  padding: 100px 160px 0;
}
.section5__container-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -86px;
}
.section5__container-text {
  width: 40%;
}
.section5__card {
  box-sizing: border-box;
  padding: 72px 30px 30px;
  width: 314px;
  height: 464px;
  background-color: #FEFEFE;
  box-shadow: 16px 16px 16px lightgray;
  border: 0.5px solid lightgray;
  margin: 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: transform 1.5s, background-color 0.5s;
  position: relative;
  z-index: 2;
}
.section5__card:hover {
  transform: scale(1.2);
  background-color: ghostwhite;
}
.section5__card-photo {
  width: 64px;
  height: 124px;
  border-radius: 32px;
  transform: rotate(-30deg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.section5__card-figures-box {
  position: relative;
}
.section5__card p {
  margin: 0;
  padding: 20px 0 64px;
  position: relative;
  line-height: 150%;
  font-size: 14.4px;
}
.section5__card p:after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  position: absolute;
  bottom: 32px;
  left: calc(50% - 32px);
}
.section5__card h6 {
  font-weight: 800;
}
.section5__photo {
  width: 95px;
  height: 124px;
  object-fit: cover;
  object-position: center;
  transform: rotate(30deg);
}

.figure {
  height: 162px;
  width: 64px;
  border-radius: 32px;
  position: absolute;
  bottom: 23px;
  transform: rotate(30deg);
}

.card-blue .figure {
  background-color: #56CCF2;
}
.card-blue p:after {
  background-color: #56CCF2;
}
.card-blue h6 {
  color: #56CCF2;
}
.card-yellow .figure {
  background-color: #FCC304;
}
.card-yellow p:after {
  background-color: #FCC304;
}
.card-yellow h6 {
  color: #FCC304;
}
.card-red .figure {
  background-color: #F25656;
}
.card-red p:after {
  background-color: #F25656;
}
.card-red h6 {
  color: #F25656;
}

.section6 {
  background-color: #E5E5E5;
  padding: 250px 30px 160px;
}
.section6__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.section6__container p {
  line-height: 150%;
  font-size: 24px;
  font-weight: 400;
  margin: 55px 0;
}
.section6__container h2 {
  font-size: 48px;
}
.section6__container__text {
  width: 50%;
  position: relative;
  z-index: 2;
}
.section6__container__left-side .oval:nth-child(1) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 143.04px;
  width: 56.54px;
  border: 5px solid #03D542;
  left: 239px;
  top: 150px;
}
.section6__container__left-side .oval:nth-child(2) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 93.54px;
  width: 36.98px;
  border: 5px solid #BC04FC;
  left: 101px;
  top: 350px;
}
.section6__container__left-side .oval:nth-child(3) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 85.61px;
  width: 33.84px;
  border: 3px solid #F25656;
  left: 203px;
  top: -100px;
}
.section6__container__left-side .oval:nth-child(4) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 67.36px;
  width: 26.63px;
  border: 5px solid #56CCF2;
  left: 52px;
  top: 220px;
}
.section6__container__left-side .oval:nth-child(5) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 45.28px;
  width: 17.9px;
  border: 3px solid #FCC304;
  left: 416px;
  top: -100px;
}
.section6__container__left-side .oval:nth-child(6) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 45.28px;
  width: 17.9px;
  border: 5px solid #FCC304;
  left: 421px;
  top: 300px;
}
.section6__container__right-side .oval:nth-child(1) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 143.04px;
  width: 56.54px;
  border: 5px solid #03D542;
  right: 185px;
  bottom: 160px;
}
.section6__container__right-side .oval:nth-child(2) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 153.61px;
  width: 60.72px;
  border: 5px solid #56CCF2;
  right: 143px;
  bottom: -150px;
}
.section6__container__right-side .oval:nth-child(3) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 86.41px;
  width: 34.16px;
  border: 3px solid #FCC304;
  right: 37px;
  bottom: 100px;
}
.section6__container__right-side .oval:nth-child(4) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 45.28px;
  width: 17.9px;
  border: 3px solid #BC04FC;
  right: 532px;
  bottom: -150px;
}
.section6__container__right-side .oval:nth-child(5) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 85.61px;
  width: 33.84px;
  border: 3px solid #F25656;
  right: 284px;
  bottom: -30px;
}
.section6__container__right-side .oval:nth-child(6) {
  border-radius: 50vw;
  transform: rotate(30deg);
  position: absolute;
  opacity: 0.5;
  box-sizing: border-box;
  z-index: 0;
  height: 53.69px;
  width: 21.22px;
  border: 5px solid #BC04FC;
  bottom: 350px;
  right: 81px;
}

.footer {
  padding: 80px;
  background-color: #E5E5E5;
}
.footer__container__middle-container {
  display: flex;
  justify-content: center;
}
.footer__container__form {
  margin-right: 128px;
  width: 50%;
}
.footer__container__contact-us {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container__contact-us p {
  font-size: 12.6px;
}
.footer__container__nav-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 136px;
}
.footer__container__nav-block p {
  white-space: nowrap;
}
.footer__form {
  display: flex;
  flex-direction: column;
  margin: 70px 0 0;
}
.footer__form__label {
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
.footer__form__label:nth-child(2) {
  margin: 30px 0;
}
.footer__form__input {
  width: 100%;
  background-color: inherit;
  height: 58px;
  border: none;
  font-size: 14.4px;
  border-radius: 10px;
  transition: background-color 0.5s;
}
.footer__form__input:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.footer__form__input:focus {
  background-color: ghostwhite;
  cursor: text;
}
.footer__form__input::placeholder {
  color: #152032;
  font-size: 14.4px;
}
.footer__images-container {
  display: flex;
  justify-content: space-between;
}
.footer__image {
  width: 32px;
  height: 32px;
}
.footer__linked-text {
  font-size: 24px;
  color: #56CCF2;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__nav__list {
  padding-right: 0;
}
.footer__nav__list__item {
  border-color: #E5E5E5;
}
.footer-link {
  color: #253757;
  text-decoration: none;
}

@media screen and (max-width: 1049px) {
  .section1 {
    padding: 150px 50px 100px;
  }

  .nav__list {
    padding: 0 25px;
  }

  .header__lower-container {
    top: 50px;
  }
  .header__lower-container__nav__item {
    padding: 60px 0;
  }

  .section3__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section3__text {
    width: 100%;
  }
  .section3__cards {
    margin: 0;
  }

  .section4__container-text {
    width: 50%;
  }

  .footer__container__form {
    margin-right: 60px;
  }

  .footer__container__contact-us {
    width: 50%;
  }
}
@media screen and (max-width: 929px) {
  .header {
    padding: 0 100px;
  }
  .header__slider-butt {
    transform: scale(0.9);
  }

  .section5__container-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section5__container-text {
    width: 100%;
  }
  .section5__card:nth-child(2) {
    margin: 50px 0;
  }

  .section4__container-text {
    width: 100%;
  }

  .section2 {
    padding: 100px;
  }
  .section2__photo-cards {
    flex-direction: column;
    align-items: center;
  }
  .section2__photo-cards__item {
    align-items: center;
    text-align: center;
    width: 50%;
  }
  .section2__photo-cards__item:nth-child(2) {
    margin: 50px 0;
  }
}
@media screen and (max-width: 880px) {
  .hamburger-menu {
    display: block;
    position: fixed;
    z-index: 10;
  }

  .nav {
    display: none;
  }
  .nav__div-hire-us {
    display: none;
  }

  .header__nav__list__hire-us {
    display: none;
  }

  .header__icon {
    margin-top: 20px;
  }

  .header__textnobutton {
    width: 100%;
  }
  .header__textnobutton h1 {
    font-size: 300%;
  }
  .header__textnobutton p {
    font-size: 120%;
  }

  .header__textandbutton {
    min-width: 450px;
    position: relative;
    top: 70px;
  }

  .header__lower-container {
    top: 165px;
    height: 38%;
  }
  .header__lower-container__nav__item {
    padding: 35px 0;
  }

  .header__slider-text {
    left: 40px;
    bottom: 10px;
  }
  .header__slider-text h4 {
    font-size: 80%;
  }
  .header__slider-text p {
    font-size: 80%;
  }

  .section1__text-paragraph {
    font-size: 120%;
  }

  .footer h2 {
    font-size: 150%;
  }
  .footer__linked-text {
    font-size: 130%;
  }

  .section6__container__text {
    width: 100%;
  }
}
@media screen and (max-width: 707px) {
  .header__lower-container {
    top: 45px;
  }

  .header {
    background-position: left;
    padding: 0 50px 0 100px;
  }
  .header__textandbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
  }
  .header__slider-butt {
    transform: scale(0.7);
  }

  .section3__cards {
    transform: scale(0.8);
  }

  .section6__container__text h2 {
    font-size: 200%;
  }
  .section6__container__text p {
    font-size: 115%;
  }

  .section4__container {
    margin: 0 80px;
  }

  .section5 {
    padding: 100px 80px 0;
  }
}
@media screen and (max-width: 599px) {
  .header {
    padding: 0 50px 0 100px;
  }
  .header__textandbutton {
    min-width: 320px;
  }
  .header__textandbutton .button {
    transform: scale(0.8);
  }
  .header__textandbutton h1 {
    font-size: 250%;
  }
  .header__textandbutton p {
    font-size: 100%;
  }
  .header__lower-container {
    top: 90px;
  }
  .header__slider {
    height: 100%;
  }
  .header__slider-text {
    left: 20px;
    bottom: 0;
  }

  .section1__text-paragraph {
    font-size: 100%;
  }

  h2 {
    font-size: 140%;
  }

  .footer__container__middle-container {
    flex-direction: column;
    align-items: center;
  }
  .footer__container__contact-us {
    width: 100%;
    margin-top: 100px;
  }
  .footer__container__form {
    width: 100%;
  }

  .section3__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section3__cards-n1-2 {
    position: relative;
    padding-top: 0;
    top: -150px;
  }

  .section5__container-cards {
    transform: scale(0.85);
    position: relative;
    top: 0;
  }

  .section6__container__left-side .oval:nth-child(6) {
    display: none;
  }
  .section6__container__left-side .oval:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .header__textandbutton {
    min-width: 100px;
    margin-right: 0;
  }
  .header__textandbutton h1 {
    font-size: 190%;
  }
  .header__textandbutton p {
    font-size: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
